
.container {
	margin-top: 1em;
	margin-left: 1em;
}
.navbar {
	background-color: #1e95ed;
	width: 100%;
	height: 2em;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: space-between;
  	align-items: center;
}
.navbar a {
	margin-left: 0.5em;
	margin-right: 0.5em;
  	color: white;
}
caption {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0.5em;
}
table, th, td {
  	border: 2px solid black;
	border-collapse: collapse;
}
th {
	background-color: #f2f3f7;
}